.likha {
    font-family: "Raleway", sans-serif;
}

.input-field {
    width: 100%;
    padding: 10px;
    background-color: rgba(240, 248, 255, 0);
    border: solid 1px;
    margin-bottom: 40px;
    border-color: gray;
}


.contact-container {
    transition: height 0.3s ease-in-out;
}

.contact-container.collapsed {
    height: 6vh;
}

.contact-container.expanded {
    height: 90vh;
}

.contact-form {
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

.contact-container.expanded .contact-form {
    opacity: 1;
}